---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import CultOfTheLamb from "../assets/images/game-headers/Cult-Of-The-Lamb-Header.jpg";
import Terraria from "../assets/images/game-headers/Terraria-Header.jpg";
import DomeKeeper from "../assets/images/game-headers/Dome-Keeper-Header.jpg";
import GameCard from "../components/GameCard.astro";

import { getEntry, getEntries, getCollection } from "astro:content";
const featuredArticle = (await getEntry("reviews", "terraria")) ?? {
	data: {
		title: "Article Not Found",
	},
};
const allEntriesReviews = await getCollection("reviews");
const chronologicallySortedReviews = [...allEntriesReviews].sort(
	(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
const bestRatedReviews = [...allEntriesReviews].sort(
	(a, b) => b.data.rating - a.data.rating,
);
---

<BaseLayout
	title="All about Games | Beku.blue"
	description="All about games. Finding high quality video games for you."
>
	<main class="base-layout">
		<div class="main-content-container">
			<h1 class="visually-hidden">Beku.blue game review articles</h1>
			<article class="featured-article">
				<Image
					src={CultOfTheLamb}
					alt="Cult of the lamb game header"
					class="game-header"
				/>
				<div class="flow">
					<h2>{featuredArticle.data.title}</h2>
					<p>{featuredArticle.data.description}</p>
					<a href="#">Read more</a>
				</div>
			</article>
			<h2>Latest Reviews</h2>
			<ul role="list">
				{
					chronologicallySortedReviews.slice(0, 2).map((post) => (
						<li>
							<GameCard
								title={post.data.title}
								description={post.data.description}
								link={`/games/${post.slug}`}
								cover={post.data.cover}
								coverAlt={post.data.coverAlt}
							/>
							<p>{post.data.pubDate}</p>
						</li>
					))
				}
			</ul>
			<h2>Best Rated</h2>
			<ul role="list">
				{
					bestRatedReviews.slice(0, 2).map((post) => (
						<li>
							<GameCard
								title={post.data.title}
								description={post.data.description}
								link={`/games/${post.slug}`}
								cover={post.data.cover}
								coverAlt={post.data.coverAlt}
							/>
						</li>
					))
				}
			</ul>
			<h2>Latest Blog Posts</h2>
			<ul role="list">
				{
					bestRatedReviews.slice(0, 2).map((post) => (
						<li>
							<GameCard
								title={post.data.title}
								description={post.data.description}
								link={`/games/${post.slug}`}
								cover={post.data.cover}
								coverAlt={post.data.coverAlt}
							/>
						</li>
					))
				}
			</ul>
		</div>
	</main>
</BaseLayout>

<style>
	@import "../styles/media-queries.css";

	.main-content-container {
	}

	.featured-article {
		display: flex;
		flex-wrap: wrap;
	}
	.game-header {
		object-fit: cover;
	}

	@media (--viewport-s) {
		.featured-article {
			/*flex-direction: column-reverse;*/
		}
	}
</style>
