---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import CultOfTheLamb from "../assets/images/game-headers/Cult-Of-The-Lamb-Header.jpg";
import Terraria from "../assets/images/game-headers/Terraria-Header.jpg";
import DomeKeeper from "../assets/images/game-headers/Dome-Keeper-Header.jpg";
import GameCard from "../components/GameCard.astro";

import { getEntry, getEntries, getCollection } from "astro:content";
import Icon from "../components/Icon.astro";
import AButton from "../components/AButton.astro";
const featuredArticle = (await getEntry("reviews", "terraria")) ?? {
	data: {
		title: "Article Not Found",
	},
};
const allEntriesReviews = await getCollection("reviews");
const chronologicallySortedReviews = [...allEntriesReviews].sort(
	(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
const bestRatedReviews = [...allEntriesReviews].sort(
	(a, b) => b.data.rating - a.data.rating,
);
---

<BaseLayout
	title="All about Games | Beku.blue"
	description="All about games. Finding high quality video games for you."
>
	<main class="base-layout">
		<div class="all-content-container">
			<div class="main-content-container">
				<h1 class="visually-hidden">Beku.blue game review articles</h1>
				<article class="featured-article">
					<Image
						src={CultOfTheLamb}
						alt="Cult of the lamb game header"
						class="game-header"
					/>
					<div class="flow">
						<h2>{featuredArticle.data.title}</h2>
						<p>{featuredArticle.data.description}</p>
						<a href="#">Read more</a>
					</div>
				</article>
				<h2>Latest Reviews</h2>
				<ul class="article-container" role="list">
					{
						chronologicallySortedReviews.slice(0, 2).map((post) => (
							<li>
								<GameCard
									title={post.data.title}
									description={post.data.description}
									link={`/games/${post.slug}`}
									cover={post.data.cover}
									coverAlt={post.data.coverAlt}
								/>
							</li>
						))
					}
					<li class="see-more-button">
						<a href="#"
							><div>
								<Icon
									name="rightcaret"
									size="1.5rem"
									label="Arrow right"
								/>
							</div></a
						>
					</li>
				</ul>
				<h2>Best Rated</h2>
				<ul class="article-container full-width" role="list">
					{
						bestRatedReviews.slice(0, 2).map((post) => (
							<li>
								<GameCard
									title={post.data.title}
									description={post.data.description}
									link={`/games/${post.slug}`}
									cover={post.data.cover}
									coverAlt={post.data.coverAlt}
								/>
							</li>
						))
					}
					<li class="see-more-button">
						<a href="#"
							><div>
								<Icon
									name="rightcaret"
									size="1.5rem"
									label="Arrow right"
								/>
							</div></a
						>
					</li>
				</ul>
				<h2>Latest Blog Posts</h2>
				<ul class="article-container full-width" role="list">
					{
						bestRatedReviews.slice(0, 2).map((post) => (
							<li>
								<GameCard
									title={post.data.title}
									description={post.data.description}
									link={`/games/${post.slug}`}
									cover={post.data.cover}
									coverAlt={post.data.coverAlt}
								/>
							</li>
						))
					}
					<li class="see-more-button">
						<a href="#"
							><div>
								<Icon
									name="rightcaret"
									size="1.5rem"
									label="Arrow right"
								/>
							</div></a
						>
					</li>
				</ul>
				<h2>Tags</h2>
				<ul role="list">
					<li><a href="#">Hidden Gems</a></li>
					<li><a href="#">Yearly Highlights</a></li>
					<li><a href="#">Pokemon-likes</a></li>
					<li><a href="#">Godot</a></li>
					<li><a href="#"></a></li>
				</ul>
			</div>
			<aside>
				<h2 class="visually-hidden">Latest Changes</h2>
				<h3 style="margin-top: var(--space-2xl);">Game Reviews</h3>
				<ul role="list" class="navigation-container">
					<li><AButton title="Latest reviews" href="#"/></li>
					
					<li><p>Best rated</p></li>
					<li><p>Best rated</p></li>
				</ul>
				<h3>Blog</h3>
				<p style="color: var(--color-accent-500);">Blog</p>
				<ul>
					<li><p>Game Design</p></li>
					<li><p>Best rated</p></li>
					<li><p>Best rated</p></li>
				</ul>
			</aside>
		</div>
	</main>

	<style>
		@import "../styles/media-queries.css";

		.all-content-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			border: 1px solid blue;
			gap: var(--space-xl);
		}
		.main-content-container {
			max-width: 950px;
			border: 1px solid green;
			h2 {
				padding-bottom: var(--space-m);
			}
		}

		.featured-article {
			display: flex;
			flex-wrap: wrap;
		}
		.game-header {
			object-fit: cover;
		}

		.article-container {
			gap: var(--space-s);
			padding-bottom: var(--space-xl);
			display: grid;
			grid-template-columns: auto auto auto;
			li {
			}
			.see-more-button {
				height: 100%;
				width: 5rem;
				border: 1px solid var(--color-neutral-300);
				border-radius: var(--border-radius-m);
				div {
					height: 100%;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		@media (--viewport-s) {
			.featured-article {
				/*flex-direction: column-reverse;*/
			}
			.article-container {
				grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr);
				.see-more-button {
					width: 100%;
					max-width: none;
					grid-column: 1 / -1;
					height: 2rem;
				}
			}
		}
		@media only screen and (max-width: 500px) {
			.article-container {
				grid-template-columns: 1fr;
			}
		}

		.navigation-container {
			display: flex;
			flex-direction: column;
		}
	</style>
</BaseLayout>
