---
interface Props {
    title: string;
    description: string;
    link: string;
    cover: any;
    coverAlt: string;
    borderColor?: string;
}
const { title, description, link, cover, coverAlt, borderColor = "var(--color-neutral-500)" } = Astro.props;

import { Image } from "astro:assets";
---

<article>
    <a href={link}>
        <Image src={cover} alt={coverAlt} class="game-header" />
        <div class="text-group">
            <h3>{title}</h3>
            <p>{description}</p>
        </div>
    </a>
</article>

<style define:vars={{ "border-color": borderColor}}>
    a,
    a * {
        text-decoration: none;
        color: inherit;
        transition: var(--transition-normal) opacity;
    }

    article {
        border-radius: var(--border-radius-m);
        border: 1px solid var(--border-color);
        height: 100%;

        & .game-header {
            overflow: hidden;
            border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
            object-fit:cover;
            width: 100%;
            height: auto;
            aspect-ratio: 2 / 1;
        }
        & a:hover,a:focus-within {
            opacity: 0.9;
            
        }
    }
    .text-group {
        padding: var(--space-s);
        & h3 {
            padding-bottom: 0.125em;
            font-size: var(--font-size-large);
        }
        & p {
            color: var(--color-neutral-200);
        }
    }
</style>
